<header>
      <div class="heading">
        <h1 class="title">HOUSE</h1>
      </div>
      <div class="navbar">
        <ul class="nav-lists">
          <li>
            ガイド   <%#  リンクにする %>
          </li>
          <li>
            問い合わせ
          </li>
          <li>
            スタッフ
          </li>
          <li>
            ギャラリー
          </li>
          <li>
            アクセス
          </li>
          <li>
            SNS
          </li>
        </ul>
      </div>
    </header>

    <div class="contents">
      <div class="first-view">
        <img src="images/mt-huji.jpeg" alt="トップ画" class="top-image">
      </div>
      <div class="upper-content">
        <h2 class="heading-name">ギャラリー</h2>
        <ul class="gallerys">
          <li class="gallery">
            <div>ギャラリー</div>
          </li>
          <li class="gallery">
            <div>ギャラリー</div>
          </li>
          <li class="gallery">
            <div>ギャラリー</div>
          </li>
        </ul>
      </div>
      <div class="middle-content">
        スタッフ
      </div>
      <div class="bottom-content">
        フォーム
      </div>
    </div>

    <footer>

    </footer>