
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}

header{
  height: 50px;
  background-color: #f0f0f0;
  padding: 10px 0;
  display: flex;
}

.heading{
  width: 50%;
  margin-left: 30px;
}

.navbar{
  width: 50%;
  padding: 20px;
}

.nav-lists{
  display: flex;
  justify-content: space-around;
}

li{
  list-style: none;
}

.contents{
  background-color: white;
}

.first-view{
  height: 60vh;
}

.top-image{
  height: 100%;
  width: 100%;
}

.upper-content{
  height: 450px;
  margin: 0 16px;
}

.heading-name{
  text-align: center;
  border-top: 3px solid gray;
  border-bottom: 3px solid gray;
  margin: 40px auto;
}

.gallerys{
  display: flex;
  justify-content: space-around;
}

.gallery{
  background-color: skyblue;
  height: 300px;
  width: 450px;
  margin: 16px;
}

.message-date{
  padding-right: 40px;
}

.middle-content{
  height: 450px;
  margin: 0 160px;
}

.bottom-content{
  height: 800px;
  margin: 0 160px;
}

footer{
  height: 50px;
  background-color: #f0f0f0;
}